/* App-wide styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding-top: var(--pico-typography-spacing-vertical);
}

fieldset {
    margin-bottom: 0;
}

input[type=submit] {
    margin: auto 0;
}

thead th {
    white-space: nowrap;
}

button.secondary {
    padding: 2px 20px;
}