/* App-wide styling */
html {
    background-color: #f6fbff;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding-top: var(--pico-typography-spacing-vertical);
}

fieldset label {
    font-size: 1.2rem;
    font-weight: 600;
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin: 0 0.5em;
}

.gc1-4 {
    grid-column: 1 / 4;
}

thead th {
    white-space: nowrap;
}

table {
    margin-bottom: 0;
    border: solid #d5d5d5 1px;
}

button.secondary {
    padding: 2px 20px;
}